@media (max-width:1060px) {
    .section1 {
      background: url(https://l2classic.club/templates/l2classic_2/img/hero-new__m.jpg) 50% no-repeat;
        background-size: cover;
    }
    .section1__title {
      text-align: center;
    }
    .section1__date {
      margin:0 auto;
    }
    .section2__box{
      flex-wrap: wrap;
    }
    .section2__left {
      flex: 0 0 100%;
      width: 100%;
      padding-right: 0;
    }
    .section2__right {
      flex: 0 0 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    }
    .section2__com {
      width: 370px;
      flex: 0 0 370px;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 60px;
      margin-bottom: 60px;
    }
    
  }
  @media (max-width: 960px) {
        .section2__right {
          flex-wrap: wrap;
        }
        .section2__com {
          margin-top: 60px;
          margin-left: 50px;
          margin-right: 50px;
          margin-bottom: 120px;
        }
      }
      @media (max-width: 650px) {
        .section2__title {
          padding-left: 0;
          text-align: center;
        }
        .section2__news {
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
        }
        .section2__news-img {
            margin: 0 0 40px 0;
            display: none;
          }
         .section2__com {
          width: 100%;
          flex: 0 0 100%;
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 120px;
         }
          .section2__com::after {
            background-size: 100%;
          }
        }
      
  
  @media screen and (max-width: 480px) {
      .section2 .container{padding: 0 15px;
    }
  }
